config.yml
mongoid.yml
.rvmrc

.tmtags
.tags
.tags_sorted_by_file
*.sublime-workspace
.DS_Store
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
/spec/tmp/*
.rspec
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

*.sassc
**.orig

rerun.txt
pickle-email-*.html
.sass-cache

capybara-*.html
InstalledFiles
/vendor/bundle
/log/*
log
/db/*.sqlite3
.ruby-version
.ruby-gemset
