.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %a.brand(href="#") Tracked cards
      .nav-collapse.collapse
        %p.navbar-text.pull-right
        %ul.nav
          %li.active
            %a(href="#")
              Show
          