.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        =link_to "Tracked Cards", root_path, class: "brand"
      .nav-collapse.collapse
        %p.navbar-text.pull-right
